{% extends "KiloSahihi/main_dash_one.html" %}
{% block title %}Farmers{% endblock %}

{% load static %}

{% block datatable_style %}
{% endblock%}

{%block main_content %}
<div class="page-head">
  <h2>Register Farmers</h2>
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'farmers' %}">Farmer Details</a></li>
    <li><a href="{% url 'register' atype='farmer' %}">Register Farmer</a></li>
  </ol>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-7 col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Register Farmer</h3>
        </div>
        <div class="panel-body">
          <form id="register_form" action="" method="post" class="form-horizontal group-border-dashed">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Full Name*</label>
                  <input type="text" name="name" id="name" parsley-trigger="change" required=""
                    placeholder="Enter Full Name" title="Enter Full Name." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Username*</label>
                  <input type="text" name="username" id="username" parsley-trigger="change" required=""
                    placeholder="Enter Username" title="Enter Username." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Password*</label>
                  <input type="password" name="password" id="password" parsley-trigger="change" required=""
                    placeholder="Enter Password" title="Enter Password." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" name="confirm_password" id="confirm_password" data-parsley-equalto="#password" parsley-trigger="change" required=""
                    placeholder="Confirm Password" title="Confirm Password." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>National ID</label>
                  <input type="number" name="national_id" id="national_id" parsley-trigger="change" required=""
                    placeholder="Enter National ID" title="Enter National ID." autocomplete="off" class="form-control"
                    data-parsley-id="4"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>
              </div>
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Phone Number*</label>
                  <input type="tel" name="phone_number" id="phone_number" parsley-trigger="change" required=""
                    placeholder="Enter Phone Number" title="Enter Phone Number." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Bank Name and Branch*</label>
                  <input type="text" name="bank_branch" id="bank_branch" parsley-trigger="change" required=""
                    placeholder="Enter Bank Name and Branch" title="Enter Bank Name and Branch." autocomplete="off"
                    class="form-control" data-parsley-id="4">
                </div>
              </div>
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Bank Account Name*</label>
                  <input type="text" name="bank_account_name" id="bank_account_name" parsley-trigger="change"
                    required="" placeholder="Enter Bank Account Name" title="Enter Bank Account Name."
                    autocomplete="off" class="form-control" data-parsley-id="4">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Bank Account No.*</label>
                  <input type="text" name="bank_account" id="bank_account" parsley-trigger="change" required=""
                    placeholder="Enter Account No." title="Enter Account No." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Acres*</label>
                  <input type="text" name="acres" id="acres" parsley-trigger="change" required=""
                    placeholder="Enter Acres" title="Enter Acres." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Latitude*</label>
                  <input type="text" name="lat" id="lat" parsley-trigger="change" required=""
                    placeholder="Enter Latitude" title="Enter Latitude." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Longitude*</label>
                  <input type="text" name="lon" id="lon" parsley-trigger="change" required=""
                    placeholder="Enter Longitude" title="Enter Longitude." autocomplete="off" class="form-control"
                    data-parsley-id="4">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-5">
                <div class="form-group">
                  <label>Factory*</label>
                  <select name="factory" id="factory" class="form-control" data-parsley-id="4" required="">
                    <option value="" selected>-Choose Factory-</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2 col-sm-2"></div>
              <div class="col-md-5 col-sm-5">
              </div>
            </div>
            <div class="row">
              <div class="text-right">
                <input type="hidden" name="status" id="status" value="Active">
                <button type="submit" id="submit-btn" data-form-name="register_farmer" class="btn btn-space btn-primary">Submit</button>
                <button type="reset" class="btn btn-space btn-default" style="visibility: hidden;">Cancel</button>

              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-2"></div>
</div>
</div>
{% endblock %}
{% block datatable_scripts %}
<script src="{% static 'KiloSahihi/assets/lib/parsley/parsley.min.js' %}" type="text/javascript"></script>
<script src="{% static 'KiloSahihi/assets/js/data.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function () {
    //initialize the javascript
    App.init();
    // var reg_form = $('#register_form').parsley();
    getOptionsList("factory", "factory")
  });
</script>
{% endblock %}