.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #000000 !important;
}

#am-navbar-collapse{
	background-color: #069D40 !important;
}

.am-top-header .navbar-header .navbar-brand {
    border-bottom: 1px solid orange !important;
}

.navbar-nav.am-user-nav:active{
	background-color: orange;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: orange !important;
}

.btn, .btn-danger.active, .btn-danger:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .form-control, .navbar-toggle, .open>.dropdown-toggle.btn-danger, .open>.dropdown-toggle.btn-info, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-warning {
    background-image: none;
    background-color: orange;
}

