{% extends "KiloSahihi/main_dash_one.html" %}
{% block title %}Factory{% endblock %}

{% load static %}

{% block datatable_style %}
{% endblock%}

{%block main_content %}
<div class="page-head">
    <h2>Register Factory</h2>
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'factories' %}">Factory Details</a></li>
        <li><a href="{% url 'register' atype='factory' %}">Register Factory</a></li>
    </ol>
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-7 col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Register Factory</h3>
                </div>
                <div class="panel-body">
                    <form id="register_form" data-form-name="register_factory" action="" method="post" class="form-horizontal group-border-dashed">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <label>Factory Name*</label>
                                    <input type="text" name="name" id="name" parsley-trigger="change" required=""
                                        placeholder="Enter Factory Name" title="Enter Factory Name." autocomplete="off"
                                        class="form-control" data-parsley-id="4">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2"></div>
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <label>Product*</label>
                                    <select name="product" id="product" class="form-control" data-parsley-id="4"
                                        required="">
                                        <option value="" selected>-Choose Product-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <label>Cooperative Society*</label>
                                    <select name="cooperative" id="cooperative" class="form-control" data-parsley-id="4"
                                        required="">
                                        <option value="" selected>-Choose Cooperative-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2"></div>
                            <div class="col-md-5 col-sm-5">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-right">
                                <button type="submit" id="submit-btn" class="btn btn-space btn-primary">Submit</button>
                                <button type="reset" class="btn btn-space btn-default">Cancel</button>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2"></div>
</div>
</div>
{% endblock %}
{% block datatable_scripts %}
<script src="{% static 'KiloSahihi/assets/lib/parsley/parsley.min.js' %}" type="text/javascript"></script>
<script src="{% static 'KiloSahihi/assets/js/data.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //initialize the javascript
        App.init();
        // var reg_form = $('#register_form').parsley();
        getOptionsList("cooperative", "cooperative")
        getOptionsList("product", "product")
    });
</script>
{% endblock %}